.navbar {
    width: 100%;
    height: 80%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo img {
    display: inline;
    width: 4em;
    height: 4em;

}

.cart {
    display: block;
    position: static;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.navbar h3 {
    cursor: pointer;
}